<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs') %>
<head>
    <link rel="stylesheet" href="/styles/new.css">
    <script src="/scripts/create.js" defer></script>
</head>

<body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs') %> 

    <main>
        <% if(invoice) { %>
            <a href="/invoice/<%= invoice._id %> " class="back">
                <img src="/svgs/arrow-left.svg" alt="arrow left">
                <span>Go back</span>
            </a>
        <% }else{ %> 
            <a href="/" class="back">
                <img src="/svgs/arrow-left.svg" alt="arrow left">
                <span>Go back</span>
            </a>
        <% } %>
        
        <h1>New Invoice</h1>

        <% if(invoice) { %>
            <!-- Editting form -->
            <%- include('../partials/edit-form') %> 
        <% }else{ %> 
            <!-- Editting form -->
            <%- include('../partials/create-form') %> 
        <% } %>  
    </main>

    <% if(invoice) { %>
        <section class="form-actions btns">
            <div>
                <div></div>
        
                <div>
                    <a href="/invoice/<%= invoice._id %>">
                        <button>Cancel</button>
                    </a>
                    <button class="purple" id="save-changes">Save changes</button>
                </div>
            </div>
        </section>
    <% }else{ %> 
        <section class="form-actions btns">
            <div>
                <a href="/">
                    <button id="discard" class="discard">Discard</button>
                </a>
        
                <div>
                    <button id="save-draft" class="draft"><span>Save as </span>draft</button>
                    <button id="save" class="purple">Save<span> & end</span></button>
                </div>
            </div>
        </section>
    <% } %>  
</body>

</html>