<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs') %>  
<head>
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/scripts/index.js" defer></script>
</head>

<body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs') %>

    <main>
        <header>
            <div class="left">
                <h1>Invoices</h1>
                <p class="g"><%= invoices.length %> invoices</p>
            </div>
            <div class="right">
                <div id="filter" class="filter">
                    <span>Filter <span class="h">by status</span><img src="/svgs/arrow-down.svg" alt="arrow down"></span>
                    <div id="list" class="list">
                        <button data-filter_for="draft" id="draft">Draft</button>

                        <button data-filter_for="pending" id="pending">Pending</button>

                        <button data-filter_for="paid" id="paid">Paid</button>
                    </div>
                </div>
                <a href="/new-invoice" class="new-btn">
                    <button></button>
                     <p>New <span class="h">invoice</span></p>
                </a>
            </div>
        </header>

        <section class="invoices">
            <% if(invoices.length > 0){ %>
                <%invoices.forEach(invoice => {%>
                    <a href='/invoice/<%= invoice._id %>' class="invoice desktop">
                        <div class="inv-num"><span class="hash">#</span>ABCDEF1</div>

                        <div class="g date">Due <%= invoice.invoice.formattedDueDate || 'date not selected' %></div>

                        <div class="g name"><%= invoice.client.name || 'No name entered' %> </div>

                        <div class="total">
                            <% if(invoice.invoice.total) { %>
                                $ <%= invoice.invoice.total %>
                            <% } else {%>
                                 No total 
                            <% } %>
                        </div>

                        <div class="end">
                            <div class="status <%= invoice.status %>"><span></span><%= invoice.status %> </div>
                            <img class="arrow" src="/svgs/arrow-right.svg" alt="right arrow">
                        </div>
                    </a>

                    <a href='/invoice/<%= invoice._id %>' class="invoice mobile">
                        <div>
                            <div class="inv-num"><span class="hash">#</span>ABCDEF1</div>

                            <div class="g name">
                                <%= invoice.client.name || 'No name entered' %>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="g date">Due <%= invoice.invoice.formattedDueDate || 'date not selected' %>
                                </div>
                            
                                <div class="total">
                                    <% if(invoice.invoice.total) { %>
                                        $ <%= invoice.invoice.total %>
                                    <% } else {%>
                                        No total
                                    <% } %>
                                </div>
                            </div>

                            <div class="status <%= invoice.status %>">
                                <span></span>
                                <%= invoice.status %>
                            </div>
                        </div>
                    
                    </a>
            <% })} else{ %>
                    <div class="no-inv">
                        <div>
                            <img src="/svgs/illustration.svg" alt="woman shouting">
                            <h3>There is nothing here</h3>
                            <p>Create an invoice by clicking the <b>New Invoice button and get started</b></p>
                        </div>
                    </div>
            <% } %>
        </section>
    </main>
</body>
</html>